<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite_1234" verbose="1" configfailurepolicy="continue">
    <test name="TestingNewRunner" preserve-order="true">
        <classes>
            <class name="test.implementation.DemonstrationTestSuite">
                <methods>
                    <include name="ExampleTestCaseInvocationTest" />
                </methods>
            </class>
        </classes>
    </test>
</suite>